*.a
*.asm
*.bi
*.bin
*.cache
*.dle
*.dll
*.exe
*.exp
*.expanded
*.gxp
*.idb
*.ilk
*.lastbuildstate
*.lib
*.log
*.metagen
*.o
*.obj
*.opensdf
*.patch
*.pdb
*.sdb
*.sdf
*.suo
*.suprx
*.tlog
*.user
Build
Source/FileStream/FileStream.xcodeproj/xcuserdata
Source/GL/GL.xcodeproj/xcuserdata
Source/Graphics/Graphics.xcodeproj/xcuserdata
Source/iOS/iOS.xcodeproj/xcuserdata
Source/iOSTest/iOSTest.xcodeproj/project.xcworkspace
Source/iOSTest/iOSTest.xcodeproj/xcuserdata
Source/MathC/MathC.xcodeproj/xcuserdata
Source/SkeletalAnimation/SkeletalAnimation.xcodeproj/xcuserdata
Source/Text2MachO/Text2MachO.xcodeproj/project.xcworkspace
Source/Text2MachO/Text2MachO.xcodeproj/xcuserdata
Source/Utilities/Utilities.xcodeproj/xcuserdata
